select-item {
    padding: var(--select-item-padding);
}

select-item:hover:not([disabled]) {
    background-color: var(--select-item-hover-bg);
}
select-item[selected],
select-item:focus {
    background-color: var(--select-item-focus-bg);
    outline: none;
}

select-item[disabled] {
    opacity: var(--select-item-disabled-opacity);
    cursor: not-allowed;
    pointer-events: none;
}
