select-root {
    --select-border: 1px solid #e2e8f0;
    --select-border-radius: 2px;
    --select-bg: white;
    --select-focus-outline: 1px solid rgba(66, 153, 225, 0.5);
    --select-focus-bg: rgba(66, 153, 225, 0.1);
    --select-padding: 8px 8px;

    /* trigger */
    --select-trigger-hover-bg: var(--select-item-hover-bg);
    --select-trigger-focus-bg: var(--select-focus-bg);
    --select-trigger-border: var(--select-border);
    --select-trigger-padding: var(--select-padding);

    /* item */
    --select-item-hover-bg: rgba(0, 0, 0, 0.04);
    --select-item-focus-bg: var(--select-focus-bg);
    --select-item-padding: var(--select-padding);
    --select-item-disabled-opacity: 0.5;

    display: inline-block;
}

select-root:focus {
    outline: none;
}

select-root[disabled] {
    opacity: var(--select-disabled-opacity);
    cursor: not-allowed;
    pointer-events: none;
}

select-root:not([open]) select-item {
    display: none;
}
