select-root {
    --select-border: 1px solid #e2e8f0;
    --select-border-radius: 2px;
    --select-bg: white;
    --select-focus-outline: 1px solid rgba(66, 153, 225, 0.5);
    --select-focus-bg: rgb(227, 244, 236);
    --select-padding: 8px 8px;

    /* trigger */
    --select-trigger-hover-bg: var(--select-focus-bg);
    --select-trigger-focus-bg: var(--select-focus-bg);
    --select-trigger-border: var(--select-border);
    --select-trigger-padding: var(--select-padding);

    /* item */
    --select-item-hover-bg: var(--select-focus-bg);
    --select-item-focus-bg: var(--select-focus-bg);
    --select-item-padding: var(--select-padding);
    --select-item-disabled-opacity: 0.5;


    display: inline-block;
    position: relative;

}

select-root:focus {
    outline: none;
}

select-root[disabled] {
    opacity: var(--select-disabled-opacity);
    cursor: not-allowed;
    pointer-events: none;
}

select-root[open] {
    z-index: 1; /* Ensure dropdown appears above other content */
}

select-root:not([open]) select-item {
    display: none;
}

select-root select-content{
    margin-top: var(--select-gap,4px);
    position: absolute;
    border-radius: var(--select-border-radius);
    border: var(--select-border);
}
