select-trigger,
select-item {
    display: block;
    cursor: pointer;
    user-select: none;
    white-space: nowrap;
}
select-trigger {
    width: max-content;
    padding: var(--select-trigger-padding);
    border: var(--select-trigger-border);
    border-radius: var(--select-border-radius);
}

select-trigger:hover {
    background-color: var(--select-trigger-hover-bg);
}

select-trigger:focus {
    background-color: var(--select-trigger-focus-bg);
    outline: none;
}
