@import "TextValue/base.style.css";

input-root {
    --input-focus-bg: var(--color-foreground, 0 0% 0%) /
        var(--color-opacity-2, 0.3);
    --input-focus-border-color: var(--color-foreground, 0 0% 0%) /
        var(--color-opacity-3, 0.5);

    --input-border-color: var(--color-foreground, 0 0% 0%) /
        var(--color-opacity-2, 0.3);
    --input-border-radius: var(--border-radius, 2px);
    --input-padding: 4px 4px;
}

