:root {
    /* colors */
    --color-foreground: 270 70% 15%;
    --color-background: 240 55% 95%;
    /* opacity */
    --color-opacity-1: 0.1;
    --color-opacity-2: 0.3;
    --color-opacity-3: 0.5;
    --color-opacity-4: 0.7;
    --color-opacity-5: 0.9;
    --color-opacity-full: 1;

    /* border */
    --border-width: 1px;
    --border-radius: 2px;
}
